# Node modules
node_modules/
package-lock.json
Portfolio.postman_collection.json

# Production build
.next/
out/
dist/
build/

# Testing coverage
coverage/

# Env files
.env*

# System files
.DS_Store

# Editor settings
.vscode/

# Logs
pnpm-debug.log*
.vercel
.env*.local
